<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="repaso-hijoc">
  <template>
    <style>
      :host {
        display: block;
      }
      table {
        width: 100%;
      }
      .encabezado {
        height: 50px;
      }
    </style>
    <h2>[[prop1]]</h2>
    <table border="1px">
      <tr class="encabezado">
        <th>Casilla 1</th>
        <th>Casilla 2</th>
        <th>Casilla 3</th>
        <th>Casilla 4</th>
      </tr>
      <tr>
        <th>1</th>
        <th>2</th>
        <th>3</th>
        <th>4</th>
      </tr>
      <tr>
        <th>1</th>
        <th>2</th>
        <th>3</th>
        <th>4</th>
      </tr>
      <tr>
        <th>1</th>
        <th>2</th>
        <th>3</th>
        <th>4</th>
      </tr>
    </table>
  </template>

  <script>
    /**
     * `repaso-hijoc`
     * 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class RepasoHijoc extends Polymer.Element {
      static get is() { return 'repaso-hijoc'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'Soy hijo c'
          }
        };
      }
    }

    window.customElements.define(RepasoHijoc.is, RepasoHijoc);
  </script>
</dom-module>
